
{{- $num_blog_posts := 5 -}}

<ul>
{{ range ( where .Site.RegularPages "Type" "blog" | first $num_blog_posts ) }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{end}}
</ul>

{{- $others := (where .Site.RegularPages "Type" "blog" | len) -}}
{{- $missing := math.Sub $others $num_blog_posts -}}

{{- if compare.Eq $missing 1 -}}
<p>One more posts at the <a href="/blog">blog section</a>.</p>
{{- end -}}

{{- if compare.Gt $missing 1 -}}
<p>{{ $missing }} more posts at the <a href="/blog">blog section</a>.</p>
{{- end -}}
