<table>
{{ $showheader := 0 }}

{{ range (where .Site.Sections "Title" "Events") }}
    {{ range (sort .Pages ".Params.start" "desc")  }}
        {{ $start := time.AsTime .Params.start }}
        {{ $end := time.AsTime .Params.end }}
        {{ if compare.Lt $start.Unix time.Now.Unix }}
            {{ if eq $showheader 0 }}
                <thead>
                    <td>Date</td>
                    <td>Time</td>
                    <td>What</td>
                    <td>Location</td>
                    <td>Slides</td>
                </thead>
                {{ $showheader = 1 }}
            {{ end }}
            <tr>
                <td style="text-align: right;"> {{ time.Format "2 Jan 2006" $start  }} </td>
                <td> {{ printf "%d:%02d" $start.Hour $start.Minute }}  - {{ printf "%d:%02d" $end.Hour $end.Minute }} </td>
                <td> <a href="{{ .Path }}">{{ .Title }}</a> </td>
                <td> {{ .Params.location }} </td>
                <td> {{ if .Params.slides }}
                    <a href="{{.Path}}/{{ .Params.slides }}">link</a>
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    {{end}}
{{end}}
</table>
