<table>

{{ $showheader := 0 }}

{{ range (where .Site.Sections "Title" "Events") }}
    {{ range (sort .Pages ".Params.start" "asc")  }}
        {{ $start := time.AsTime .Params.start }}
        {{ $end := time.AsTime .Params.end }}
        {{ if compare.Ge $start.Unix time.Now.Unix }}
            {{ if eq $showheader 0 }}
                <thead>
                    <td>Date</td>
                    <td>Time</td>
                    <td>What</td>
                    <td>Location</td>
                    <td>Zoom/Teams</td>
                    <td>ICS</td>
                </thead>
                {{ $showheader = 1 }}
            {{ end }}
            <tr>
                <td> {{ time.Format "2 Jan 2006" $start  }} </td>
                <td> {{ printf "%d:%02d" $start.Hour $start.Minute }}  - {{ printf "%d:%02d" $end.Hour $end.Minute }} </td>
                <td> <a href="{{ .Path }}">{{ .Title }}</a> </td>
                <td> {{ .Params.location }} </td>
                <td> {{ if .Params.zoom }}
                        <a href="{{ .Params.zoom }}">
                        {{ if hasPrefix .Params.zoom "https://teams" }}
                            Teams link
                        {{ else }}
                            Zoom link
                        {{ end }}
                        </a>
                     {{ end }}
                </td>
                <td>
                    {{ if fileExists (path.Join .Path "invite.ics") }}
                        <a href='{{   path.Join .Path "invite.ics"}}'>invite.ics</a>
                     {{ end }}
                </td>
            </tr>
        {{ end }}
    {{ end }}
{{end}}
</table>

{{ if eq $showheader 0 }}
... stay patient
{{ end }}
